body {
  background-color: #f8f9fa;
  color: #00111e;
  font-family: system-ui;
}

.text-primary {
  color: #cac94d !important;
}

.bg-primary {
  background-color: #cac94d !important;
}

.border-primary {
  border-color: #cac94d !important;
}

.fs-3 {
  font-size: 2.6rem !important;
}
